.titulo-principal {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.sub-titulo {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

.contenedor-imagen {

    -fx-background-color: #ffd7a3;
    -fx-background-radius: 12;
}

.contenedor-formulario {

    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.2, 0, 2);
}

.btn-guardar {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #ffb84d;
}

.btn-cargar {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-border-color: #00000042;
    -fx-border-radius: 4;
    -fx-background-color: rgb(255, 255, 255);
}

.label-nombre-destino {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.contenedor-estado {

    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 4;
    -fx-border-color: gray;
    -fx-border-radius: 4;
    -fx-border-width: 0.2;
}

.text-field-destino {

    -fx-setPromptText: Tenares;
}

.contenedor-list-view {

    -fx-border-color: white;
    -fx-border-radius: 12;
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.2, 0, 2);
}

.contenedor-list-view .list-cell:filled:selected {

    -fx-background-color: #ffb84d;
}

.contenedor-consulta-destinos {

    -fx-background-color: white;
    -fx-background-radius: 12;
}

.label-destinos-registrados {

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffb84d;
}

.cb-destinos {

    -fx-background-color: white;
    -fx-border-color: rgb(227, 227, 227);
    -fx-border-radius: 4;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

.progress-bar {

    -fx-accent: #ffb84d;
    -fx-background-radius: 6;
}
